html,
body {
  @apply h-full font-lato text-white
}

.render {
  @apply h-full fixed top-0 left-0 bottom-0 right-0 w-full bg-white z-[9999]
}

.section__title {
  h2 {
    @apply text-gray-300 text-3xl md:text-[40px] leading-9 md:leading-[40px] max-w-[300px] md:max-w-full mx-auto
  }
  p {
    @apply mt-[10px] text-gray-300 font-medium md:text-xl leading-5 md:leading-5
  }
  @apply mb-10 lg:mb-[50px] text-center
}

body {
  scrollbar-width: thin;
  scrollbar-color: dark;
  &::-webkit-scrollbar {
    @apply w-2
  }
  &::-webkit-scrollbar-track {
    @apply bg-inherit
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-[6px] border-2 bg-blue-200
  }
}

.pagination {
  svg {
    path {
      @apply duration-300 transition-colors will-change-[fill]
    }
    &:hover {
      path {
        @apply fill-black-800
      }
    }
  }
  .active {
    @apply text-black-800 cursor-default	
  }
  a {
    @apply py-[1px] px-2 text-gray-800 hover:text-black-800 duration-300 transition-colors will-change-[color]
  }
  @apply flex justify-center items-center py-7 text-lg leading-[22px] 
}

.gapper {
  @apply mt-[110px] md:mt-36
}

.wrapper {
  @apply container mx-auto
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}