section.about#about
  .about__wrapper
    .about__block
      img(src="/assets/images/about-item1.png", alt="about-item1")
    .about__block.about__text
      .about__content
        h2 Кто мы?
        p CasaBianca - крупный дистрибьютор керамогранитной плитки по всему миру.
        p Мы работаем с выставочными залами и логистическими центрами в 8 разных странах на 4 разных континентах по продажам керамогранитной и керамической групп товаров.
    .about__block.about__text.about__text-gray
      .about__content
        h2 Миссия нашей компании
        p Быть самой уважаемой и предпочитаемой глобальной компанией в строительном секторе, стремящейся к постоянным инновациям и развитию за счет эффективного и рационального использования ресурсов.
    .about__block
      img(src="/assets/images/about-item2.png", alt="about-item2")
    .about__block
      img(src="/assets/images/about-item3.png", alt="about-item3")
    .about__block.about__text.about__text-gray
      .about__content
        h2 Видение нашей компании
        p Создать мировой бренд, продукты которого с восхищением используются в каждом здании и здании, построенном или используемом.