section.achievements
  .wrapper
    .achievements__wrapper
      h2 Наши достижения
      .achievements__blocks
        .achievements__block 
          img(src="/assets/images/achievements-1.svg", alt="achievements-1")
          .achievements__amount >1 000 000м2
          .achievements__text продукции реализовано в 2022 году
        .achievements__block 
          img(src="/assets/images/achievements-2.svg", alt="achievements-2")
          .achievements__amount >30млн
          .achievements__text оборот компании в 2022 году
        .achievements__block 
          img(src="/assets/images/achievements-3.svg", alt="achievements-3")
          .achievements__amount >1 000
          .achievements__text видов плиток из керамогранита
        .achievements__block 
          img(src="/assets/images/achievements-4.svg", alt="achievements-4")
          .achievements__amount 4
          .achievements__text представительства по всему миру