section.callback 
  .callback__bg
    .wrapper 
      .callback__wrapper
        h2.reveal Не можете определиться с выбором плитки?
        button(type="button").reveal
          span «Получить консультацию»