include ../mixins/category-item.pug
section.categories#categories
  .wrapper 
    .categories__items
      +category-item('/assets/images/categories-item1.png', 'categories-item1', 'Напольная плитка', '#')
      +category-item('/assets/images/categories-item2.png', 'categories-item2', 'Настенная плитка', '#')
      +category-item('/assets/images/categories-item3.png', 'categories-item3', 'Плитка на открытом воздухе', '#')
      +category-item('/assets/images/categories-item4.png', 'categories-item4', 'Плитка для ванной', '#')
      +category-item('/assets/images/categories-item5.png', 'categories-item5', 'Кухонная плитка', '#')