include ../mixins/clients-item.pug
section.clients 
  .wrapper 
    .clients__wrapper
      .section__title
        h2.reveal Мы работаем с лучшими
      .clients__items
        +clients-item('wide', '/assets/images/clients/qua-granite.png', 'qua-granite')
        +clients-item('wide', '/assets/images/clients/bien.png', 'bien')
        +clients-item('wide', '/assets/images/clients/majorcatiffany.png', 'majorcatiffany')
        +clients-item('wide', '/assets/images/clients/rino.png', 'rino')
        +clients-item('', '/assets/images/clients/porcelanosa.png', 'porcelanosa')
        +clients-item('', '/assets/images/clients/argenta.png', 'argenta')
        +clients-item('', '/assets/images/clients/emigres.png', 'emigres')
        +clients-item('', '/assets/images/clients/fakhar.png', 'fakhar')
        +clients-item('', '/assets/images/clients/lli.png', 'lli')
        +clients-item('', '/assets/images/clients/villeroy-boch.png', 'villeroy-boch')
        +clients-item('', '/assets/images/clients/noken.png', 'noken')
        +clients-item('', '/assets/images/clients/hansgrohe.png', 'hansgrohe')
        +clients-item('', '/assets/images/clients/vitra.png', 'vitra')
        +clients-item('', '/assets/images/clients/belizna.png', 'belizna')
        +clients-item('', '/assets/images/clients/lineart.png', 'lineart')
        +clients-item('', '/assets/images/clients/grohe.png', 'grohe')