include ../mixins/popular-item.pug
section.collections 
  .wrapper
    .collections__wrapper.reveal
      +popular-item(true, false, '/collection-qua','/assets/images/collections-item1.png', 'collections-item1', '/assets/images/qua-granite-logo.svg', 'qua-granite', '')
      +popular-item(true, false, '/collection-bien','/assets/images/collections-item2.png', 'collections-item2', '/assets/images/bien-logo.svg', 'qua-granite', '')
      +popular-item(true, false, '/collection-majorca','/assets/images/collections-item3.png', 'collections-item3', '/assets/images/mt-logo.svg', 'mt', '')