include ../mixins/popular-item.pug
.collection
  .wrapper
    .collection__wrapper 
      .collection__title.reveal ФИЛЬТРЫ
      .collection__blocks
        form(action="")
          include ../components/filter.pug
        .collection__goods
          .collection__button
            .collection__button__container
              i.fa-solid.fa-filters
          .collection__cards
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-1.png', 'qua-1', 'assets/images/collection-qua/logo.svg', 'logo', 'Statuario')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-2.png', 'qua-2', 'assets/images/collection-qua/logo.svg', 'logo', 'Calacatta Goldie')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-3.png', 'qua-3', 'assets/images/collection-qua/logo.svg', 'logo', 'Fenomen')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-4.png', 'qua-4', 'assets/images/collection-qua/logo.svg', 'logo', 'Pulpis Nero')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-5.png', 'qua-5', 'assets/images/collection-qua/logo.svg', 'logo', 'Space Brown')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-6.png', 'qua-6', 'assets/images/collection-qua/logo.svg', 'logo', 'Fuego')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-7.png', 'qua-7', 'assets/images/collection-qua/logo.svg', 'logo', 'Cipollino Grigio')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-8.png', 'qua-8', 'assets/images/collection-qua/logo.svg', 'logo', 'Spring')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-9.png', 'qua-9', 'assets/images/collection-qua/logo.svg', 'logo', 'Blue Jeans')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-10.png', 'qua-10', 'assets/images/collection-qua/logo.svg', 'logo', 'Cipollino Nero')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-11.png', 'qua-11', 'assets/images/collection-qua/logo.svg', 'logo', 'Martins Marble Light')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-12.png', 'qua-12', 'assets/images/collection-qua/logo.svg', 'logo', 'Mellow Gold')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-13.png', 'qua-13', 'assets/images/collection-qua/logo.svg', 'logo', 'Notte Blue')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-14.png', 'qua-14', 'assets/images/collection-qua/logo.svg', 'logo', 'Deep Green')
            +popular-item(false, true, '/product-qua','/assets/images/collection-qua/qua-15.png', 'qua-15', 'assets/images/collection-qua/logo.svg', 'logo', 'Pulpis Grey')
          .pagination.reveal
            a(href="#").active 1
            a(href="#")  2
            a(href="#")  3
            a(href="#")  4
            a(href="#") 
              <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.875 8L5.9125 7.03333L8.35312 4.66667H0V3.33333H8.35312L5.9125 0.966667L6.875 0L11 4L6.875 8Z" fill="#939393"/>
              </svg>
