include ../mixins/popular-item.pug
.collection
  .wrapper
    .collection__wrapper 
      .collection__title.reveal ФИЛЬТРЫ
      .collection__blocks
        form(action="")
          include ../components/filter.pug
        .collection__goods
          .collection__button
            .collection__button__container
              i.fa-solid.fa-filters
          .collection__cards
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-1.png', 'majorca-1', 'assets/images/collection-majorca/logo.svg', 'logo', 'Artech Antrasit')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-2.png', 'majorca-2', 'assets/images/collection-majorca/logo.svg', 'logo', 'Black Calacatta')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-3.png', 'majorca-3', 'assets/images/collection-majorca/logo.svg', 'logo', 'Cielo')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-4.png', 'majorca-4', 'assets/images/collection-majorca/logo.svg', 'logo', 'Marea')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-5.png', 'majorca-5', 'assets/images/collection-majorca/logo.svg', 'logo', 'Norgay')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-6.png', 'majorca-6', 'assets/images/collection-majorca/logo.svg', 'logo', 'Onyx Latte')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-7.png', 'majorca-7', 'assets/images/collection-majorca/logo.svg', 'logo', 'Oposto')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-8.png', 'majorca-8', 'assets/images/collection-majorca/logo.svg', 'logo', 'Patchwork')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-9.png', 'majorca-9', 'assets/images/collection-majorca/logo.svg', 'logo', 'Marmaros')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-10.png', 'majorca-10', 'assets/images/collection-majorca/logo.svg', 'logo', 'Radice')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-11.png', 'majorca-11', 'assets/images/collection-majorca/logo.svg', 'logo', 'Vera Semi')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-12.png', 'majorca-12', 'assets/images/collection-majorca/logo.svg', 'logo', 'River Ivory')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-13.png', 'majorca-13', 'assets/images/collection-majorca/logo.svg', 'logo', 'Marblefalls')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-14.png', 'majorca-14', 'assets/images/collection-majorca/logo.svg', 'logo', 'Larvik')
            +popular-item(false, true, '/product-majorca','/assets/images/collection-majorca/majorca-15.png', 'majorca-15', 'assets/images/collection-majorca/logo.svg', 'logo', 'Cortile Silver')
          .pagination.reveal
            a(href="#").active 1
            a(href="#")  2
            a(href="#")  3
            a(href="#")  4
            a(href="#") 
              <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.875 8L5.9125 7.03333L8.35312 4.66667H0V3.33333H8.35312L5.9125 0.966667L6.875 0L11 4L6.875 8Z" fill="#939393"/>
              </svg>
