section.contacts 
  .wrapper 
    .contacts__wrapper 
      .contacts__blocks
        .contacts__items
          h2.reveal Свяжитесь с нами!
          .contacts__item.reveal
            h3 Российская Федерация
            p 111020, г. Москва, ул. 2-ая Синичкина, д. 9А, стр. 3
            a(href="tel:+7 903 660-27-25") 
              i.fa.fa-phone 
              span +7 903 660-27-25
          .contacts__item.reveal
            h3 Турция
            p 34535, Turkey, Istanbul, Ekinoba, Büyükçekmece, Çanakkale Sk. No:5
            a(href="tel:+90 532 291-51-36") 
              i.fa-solid.fa-phone 
              span +90 532 291-51-36
          .contacts__item.reveal
            h3 Объединённые Арабские Эмираты
            p 894P+942, Sharjah, Sajaa Industrial Area, Behind Emirates road, plot 7762, T2
            a(href="tel:+971 55 498-72-59") 
              i.fa.fa-phone 
              span +971 55 498-72-59
        .contacts__slider.reveal
          .swiper.contacts-slider
            .contacts__slider__title
              h4 Наши шоурумы
              p По всему миру
            .swiper-wrapper
              .swiper-slide 
                img(src="/assets/images/contacts-item1.png", alt="contacts-item1")
              .swiper-slide 
                img(src="/assets/images/contacts-item1.png", alt="contacts-item1")
              .swiper-slide 
                img(src="/assets/images/contacts-item1.png", alt="contacts-item1")
            .contacts__navigation
              .swiper-button-prev
                i.fa.fa-arrow-left
              .swiper-pagination
              .swiper-button-next
                i.fa.fa-arrow-right