.filter.reveal
  .wrapper
    .collection__title ФИЛЬТРЫ
      .filter__close
        i.fa-regular.fa-xmark
    .filter__wrapper
      .filter__header
        .filter__name Размер
        img(src="/assets/images/arrow-down.svg", alt="arrow-down").filter__arrow
      .filter__body
        .filter__checkbox.filter__props
          label 
            input.filter__checkbox__button(type="checkbox" name="60x60" value="60x60" checked="checked")
            p.filter__value 60x60 
              span.filter__remainder (5)
          label 
            input.filter__checkbox__button(type="checkbox" name="60x120" value="60x120")
            p.filter__value 60x120
              span.filter__remainder (9)
      .filter__header
        .filter__name Толщина
        img(src="/assets/images/arrow-down.svg", alt="arrow-down").filter__arrow
      .filter__body
        .filter__checkbox.filter__props
          label 
            input(type="checkbox" name="0,85" value="0,85")
            p.filter__value 0,85 
              span.filter__remainder (5)
          label 
            input(type="checkbox" name="0,9" value="0,9")
            p.filter__value 0,9
              span.filter__remainder (9)
      .filter__header
        .filter__name Поверхность
        img(src="/assets/images/arrow-down.svg", alt="arrow-down").filter__arrow
      .filter__body
        .filter__checkbox.filter__props
          label 
            input(type="checkbox" name="Матовая" value="Матовая")
            p.filter__value Матовая 
              span.filter__remainder (3)
          label 
            input(type="checkbox" name="Полированная" value="Полированная")
            p.filter__value Полированная
              span.filter__remainder (2)
          label 
            input(type="checkbox" name="Полуполированная" value="Полуполированная" checked="checked")
            p.filter__value Полуполированная
              span.filter__remainder (6)
          label 
            input(type="checkbox" name="Матовая" value="Матовая")
            p.filter__value Матовая
              span.filter__remainder (7)
      .filter__header
        .filter__name Цвет
        img(src="/assets/images/arrow-down.svg", alt="arrow-down").filter__arrow
      .filter__body
        .filter__checkbox.filter__colors
          label 
            input(type="checkbox" name="Черный" value="Черный")
            p.filter__value.filter__color.filter__color-black Черный 
              span.filter__remainder (7)
          label 
            input(type="checkbox" name="Коричневый" value="Коричневый")
            p.filter__value.filter__color.filter__color-brown Коричневый
              span.filter__remainder (3)
          label 
            input(type="checkbox" name="Белый" value="Белый")
            p.filter__value.filter__color.filter__color-white Белый
              span.filter__remainder (2)
          label 
            input(type="checkbox" name="Серый" value="Серый")
            p.filter__value.filter__color.filter__color-silver Серый
              span.filter__remainder (7)
          label 
            input(type="checkbox" name="Бежевый" value="Бежевый")
            p.filter__value.filter__color.filter__color-beige Бежевый
              span.filter__remainder (4)
          label 
            input(type="checkbox" name="Зеленый" value="Зеленый")
            p.filter__value.filter__color.filter__color-green Зеленый
              span.filter__remainder (2)
          label 
            input(type="checkbox" name="Мультиколор" value="Мультиколор")
            p.filter__value.filter__color.filter__color-white Мультиколор
              span.filter__remainder (9)
          label 
            input(type="checkbox" name="Графитовый" value="Графитовый")
            p.filter__value.filter__color.filter__color-graphite Графитовый
              span.filter__remainder (1)
          label 
            input(type="checkbox" name="Бежевый" value="Бежевый")
            p.filter__value.filter__color.filter__color-beige Бежевый
              span.filter__remainder (5)
          label 
            input(type="checkbox" name="Бирюзовый" value="Бирюзовый")
            p.filter__value.filter__color.filter__color-turquoise Бирюзовый
              span.filter__remainder (2)
      .filter__header
        .filter__name Дизайн
        img(src="/assets/images/arrow-down.svg", alt="arrow-down").filter__arrow
      .filter__body
        .filter__checkbox.filter__props
          label 
            input(type="checkbox" name="Бетон" value="Бетон")
            p.filter__value Бетон 
              span.filter__remainder (3)
          label 
            input(type="checkbox" name="Мрамор" value="Мрамор" checked="checked")
            p.filter__value Мрамор
              span.filter__remainder (7)
          label 
            input(type="checkbox" name="Геометрия" value="Геометрия")
            p.filter__value Геометрия
              span.filter__remainder (4)
          label 
            input(type="checkbox" name="Абстрактный" value="Абстрактный")
            p.filter__value Абстрактный
              span.filter__remainder (2)
          label 
            input(type="checkbox" name="Моноколор" value="Моноколор")
            p.filter__value Моноколор
              span.filter__remainder (9)
          label 
            input(type="checkbox" name="Агломерат" value="Агломерат")
            p.filter__value Агломерат
              span.filter__remainder (1)