footer.footer
  .wrapper
    .footer__wrapper 
      .footer__social 
        a(href="#" target="_blank")
          i.fa.fa-facebook 
        a(href="#" target="_blank")
          i.fa.fa-twitter 
        a(href="#" target="_blank")
          i.fa.fa-google
      .footer__copy
        p © 2023 Casa Bianca. All rights reserved. Site Designed by LEXIBUILT