section.map
  .wrapper
    h2 Оперативно поставляем по всему миру
    .map__content
      .map__name Наши представительства
      .map__name Наши клиенты
    .map__text
      .map__title Наши представительства
      ul.map__list
        li.map__city Российская Федерация
        li.map__city США
        li.map__city Турция
        li.map__city ОАЭ
        li.map__city Кыргызтан
      .map__title Наши клиенты
      ul.map__list
        li.map__city Марокко
        li.map__city Мавритания
        li.map__city Алжир
        li.map__city Украина
        li.map__city Саудовская Аравия
        li.map__city Туркменистан
        li.map__city Узбекистан
        li.map__city Малайзия
  .map__img
    img(src="/assets/images/map.svg", alt="map")
