section.map2 
  .wrapper
    .map2__wrapper 
      .map2__content.reveal 
        h2 Оперативно поставляем <br> по всему миру
        p Наши профессионалы построят логистические цепочки любой сложности до дверей вашего склада в любой стране, и в максимально короткий срок - по земле, воде или воздуху
      .map2__image.reveal
        img(src="/assets/images/map2.svg", alt="map2")