include ../mixins/news-item.pug
section.news
  .wrapper
    .news__wrapper 
      .news__main.reveal ДОБРО ПОЖАЛОВАТЬ
      h1.news__title.reveal
        .news__title-bg БЛОГ CASA BIANCA
      h2.news__subtitle.reveal ПОСЛЕДНИЕ НОВОСТИ
      .news__post 
        img.news__img.reveal(src="/assets/images/news.png", alt="png")
        .news__content 
          time.news__date.reveal 29 декабря, 2022 г. 
          .news__name.reveal Qua Granite раскрывает нам сущность керамики благодаря передовому дизайну
          .news__description.reveal Под девизом” The Essential Tile Meeting " компания Qua Granite соберет в своей штаб-квартире своих клиентов, архитекторов и дизайнеров интерьера со всего мира, где они смогут совершить чувственный тур по разным пространствам. Посетители смогут познакомиться с керамикой и современными тенденциями с помощью разнообразных предложений, разработанных для каждой коллекции.
          .news__link.reveal 
            a(href="/post") Продолжить чтение
      .news__items
        +news-item(
          '/assets/images/news/news-item1.png', 
          'news-item1', 
          '24 ноября, 2022 г.', 
          'Основные керамические тенденции 2022 года', 
          'Под девизом” The Essential Tile Meeting " компания Qua Granite соберет в своей штаб-квартире своих клиентов, архитекторов и дизайнеров интерьера со всего мира, где они смогут совершить чувственный тур по разным ...', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item2.png', 
          'news-item2', 
          '13 октября, 2022 г.', 
          'Casa Bianca получил премию на “German Design Award 2022”', 
          'В Casa Bianca мы гордимся тем, что получили признание престижного Немецкого дизайнерского совета за наш выставочный зал на церемонии вручения премии German Design Awards 2022.', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item3.png', 
          'news-item3', 
          '7 сентября, 2022 г.', 
          'Мы присоединились к BIM с нашими продуктами', 
          'В CasaBianca мы присоединились к методологии работы BIM, запустив собственный книжный магазин с коллекциями, ориентированными в первую очередь на контрактные проекты.', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item4.png', 
          'news-item4', 
          '14 августа, 2022 г.', 
          'Динамизм и объем: декор с помощью 3D настенных покрытий', 
          'Объемные элементы устанавливаются в качестве облицовки, чтобы придать помещениям оригинальность и неповторимость. Трехмерный дизайн, вдохновленный природой или принтами, быстро и легко революционизирует', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item5.png', 
          'news-item5', 
          '26 июля, 2022 г.', 
          'Отличие и уникальность ванных комнат медного цвета', 
          'Медь и ее вариант "розовое" - это модный цвет. Драгоценные металлы находят свое применение в дизайне интерьера, а медь является идеальной отделкой смесителей и сантехники для ванных комнат, что придает особый оттенок.', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item6.png', 
          'news-item6', 
          '16 июля, 2022 г.', 
          'Лучшие дизайны для создания уютной и теплой обстановки зимой', 
          'В этом году зима приходит с неподвластной времени цветовой палитрой, вдохновленной такими оттенками пустыни, как терракотовый, красный, коричневый и горчичный.', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item7.png', 
          'news-item7', 
          '1 июля, 2022 г.', 
          'Тенденции в области напольных покрытий для ванных комнат', 
          'Сделайте его практичным, простым в уходе и с дизайном, который украсит комнату. Компания Porcelanosa анализирует типы напольных покрытий для ванных комнат, чтобы мы могли наслаждаться и получать максимальную отдачу.', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item8.png', 
          'news-item8', 
          '27 июня, 2022 г.', 
          'Оформление гостиной обоями: индивидуальность и очарование', 
          'Мышление и изобретательство - это разные термины. Например, когда вы думаете о стиле оформления гостиной, предполагается, что она будет классической, со всеми гладкими стенами и традиционной планировкой.', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item9.png', 
          'news-item9', 
          '10 мая, 2022 г.', 
          'Типы решеток для душевых поддонов', 
          'Встроенные в керамику, линейные, квадратные или круглые. Эти элементы подходят для любого стиля декора и душа. Выбор в пользу них будет зависеть от того, какой материал душевого поддона вы хотите выбрать.', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item10.png', 
          'news-item10', 
          '15 апреля, 2022 г.', 
          'Идеальное воспроизведение осенних красок в мебели для ванных комнат', 
          'Наступает осень, и хочется укрыться от холода дома и наблюдать из окна за шелестом деревьев за чашкой горячего шоколада. Другой вариант - спокойно насладиться ванной или сеансом красоты, где самые осенние краски помещения', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item11.png', 
          'news-item11', 
          '25 марта, 2022 г.', 
          'Casa 10 - мексиканское объятие природы и дизайна', 
          'Прямые и чистые линии образуют архитектурный дизайн фасада этого дома, в котором подчеркиваются объемы и использование черного и белого цветов, которые передают аккуратность и элегантность.', 
          '/post'
        )
        +news-item(
          '/assets/images/news/news-item12.png', 
          'news-item12', 
          '13 февраля, 2022 г.', 
          'Роль каминов в оформлении современных домов', 
          'Он считается старейшим элементом в поддержании комфортной температуры в доме. В настоящее время этот предмет сочетается с подавляющим большинством стилей дизайна интерьера.', 
          '/post'
        )
      .pagination.reveal
        a(href="#").active 1
        a(href="#")  2
        a(href="#")  3
        a(href="#")  4
        a(href="#") 
          <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.875 8L5.9125 7.03333L8.35312 4.66667H0V3.33333H8.35312L5.9125 0.966667L6.875 0L11 4L6.875 8Z" fill="#939393"/>
          </svg>