include ../mixins/offices-item.pug
section.offices#contacts 
  h2.reveal Наши представительства
  .offices__wrapper
    +offices-item(
      '',
      '/assets/images/office-item1.png', 
      'office-item1', 'Российская Федерация', 
      [
        {
          title: 'Официальный <br> дистрибьютор',
          text: 'Компания «Каса Бьянка» обладает эксклюзивными правами на дистрибуцию торговых марок Qua, Bien и Majorca Tiffany.'
        },
        {
          title: 'Наша <br> продукция',
          text: 'Представлена в более чем 500 магазинах и шоурумах по всей территории РФ.'
        }
      ],
      [
        {
          src: '/assets/images/icon-location.svg',
          alt: 'icon-location',
          text: '111020, г. Москва, ул. 2-ая Синичкина, д. 9А, стр. 3'
        },
        {
          src: '/assets/images/icon-phone.svg',
          alt: 'icon-phone',
          text: '<a href="tel:+7 903 660-27-25">+7 903 660-27-25</a> - «Каса Бьянка»'
        },
        {
          src: '/assets/images/icon-mail.svg',
          alt: 'icon-mail',
          text: '<a href="mailto:skorotkov81@mail.ru">skorotkov81@mail.ru</a>'
        },
      ]
    )
    +offices-item(
      'offices__item-reverse',
      '/assets/images/office-item2.png', 
      'office-item2', 'Турция', 
      [
        {
          title: 'В Стамбуле расположен <br> Центральный Офис ГК «Casa Bianca»',
          text: 'Здесь Вы сможете ознакомиться со множеством различных моделей, а также с вариантами их интеграции в готовые интерьеры ванных комнат.'
        },
        {
          title: 'Осваивание <br> новых рынков',
          text: 'В данный момент Casa Bianca активно осваивает новые рынки, тестируя их с турецкой продукцией Qua и Bien.'
        }
      ],
      [
        {
          src: '/assets/images/icon-location.svg',
          alt: 'icon-location',
          text: '34535, Turkey, Istanbul, Ekinoba, Büyükçekmece, Çanakkale Sk. No:5'
        },
        {
          src: '/assets/images/icon-phone.svg',
          alt: 'icon-phone',
          text: '<a href="tel:+90 532 291-51-36">+90 532 291-51-36</a>'
        },
        {
          src: '/assets/images/icon-mail.svg',
          alt: 'icon-mail',
          text: '<a href="mail:info@casabiancayapi.com.tr">info@casabiancayapi.com.tr</a>'
        },
      ]
    )
    +offices-item(
      '',
      '/assets/images/office-item3.png', 
      'office-item3', 'Объединённые Арабские Эмираты', 
      [
        {
          title: 'Одни из первых на рынке <br> керамогранитных плиток',
          text: 'Исследуя новые рынки, в 2021 году мы открыли представительство в Дубае'
        },
        {
          title: 'Активное развитие <br> на непривычном рынке',
          text: 'Работа с большим спросом на продукцию светлых цветов и оттенков, матовых поверхностей, а также на плитку с увеличенной толщиной.'
        }
      ],
      [
        {
          src: '/assets/images/icon-location.svg',
          alt: 'icon-location',
          text: '894P+942, Sharjah, Sajaa Industrial Area, Behind Emirates road, plot 7762, T2'
        },
        {
          src: '/assets/images/icon-phone.svg',
          alt: 'icon-phone',
          text: '<a href="tel:+ 971 52 397-61-33">+ 971 52 397-61-33</a>'
        },
        {
          src: '/assets/images/icon-mail.svg',
          alt: 'icon-mail',
          text: '<a href="mailto:info@cbceramic.com">info@cbceramic.com</a>'
        },
        {
          src: '/assets/images/icon-phone.svg',
          alt: 'icon-phone',
          text: '<a href="tel:+ 971 55 498-72-59">+ 971 55 498-72-59</a>'
        },
      ]
    )