include ../mixins/popular-item.pug
section.post
  .wrapper
    .post__wrapper 
      .post__header
        .post__info
          h1.post__title Основные керамические тенденции 2022 года
          p.post__description Такие аспекты, как естественность, экологичность и безопасность, будут определять дизайн интерьера в 2022 году. И дело в том, что контекст, в который нас втянула пандемия, с социальной и экологической точек зрения способствовал созданию новой концепции домашнего хозяйства.
        .post__slider 
          .swiper.post-slider
            .swiper-wrapper
              .swiper-slide
                img(src="/assets/images/post1.png", alt="post1").post__img
              .swiper-slide
                img(src="/assets/images/post2.png", alt="post2").post__img
          .swiper-button-prev
            i.fa-light.fa-angle-left
          .swiper-button-next
            i.fa-light.fa-angle-right
      .post__main
        .post__content
          .post__block
            p.post__text.reveal По всем этим причинам в Casa Bianca мы хотели держать руку на пульсе этого нового года, чтобы определить тенденции, которые будут преобладать в ближайшие месяцы, вдохновленные подборкой, подготовленной американской выставкой материалов о международных тенденциях faca в этом году. Продолжайте читать, чтобы узнать о самых многообещающих!
          .post__block
            h2.post__title.reveal Возвращение к барокко с использованием мрамора во всей красе
            p.post__text.reveal Как и следовало ожидать, элегантность и изысканность снова идут рука об руку с керамикой, вдохновленной стилем барокко, учитывая ее неподвластный времени характер и необычайную красоту. Точно так же его изысканный дизайн в сочетании с эффектной отделкой с толстыми прожилками делают пышный мрамор поистине вдохновляющим выбором, где самая утонченная роскошь способна привлечь все взгляды.
          .post__block
            h2.post__title.reveal Праздник цвета
            p.post__text.reveal Цветовые палитры преобладают, выделяясь, с одной стороны, более естественными цветами, где преобладают аквамариновые и пышно-зеленые тона, которые обеспечивают великолепную связь между домом и улицей. 
            p.post__text.reveal С другой стороны, к тенденциям присоединяются (опять же) пастельные тона, такие как шалфей, мята, розовый или небесно-голубой, поскольку они придают успокаивающую эссенцию, которая создает ощущение комфорта, которое требуется во многих домах. В рамках этого тренда мы можем выделить полностью актуальные глубокие цвета нашей серии Vibrant или пастельные тона, такие как Cementine Green.
          .post__block
            h2.post__title.reveal Сочетание стилей
            p.post__text.reveal В настоящее время все чаще делается ставка на сочетание разных стилей, которые априори не считаются подходящими для демонстрации вместе, но которые, тем не менее, идеально сочетаются, что позволяет вывести индивидуальность на новый уровень. Начиная с Casa Bianca, мы делаем ставку на применение различных стилей, таких как те, которые представлены в сочетании Макалу с Толосом. 
          .post__block
            h2.post__title.reveal Теплые камни
            p.post__text.reveal Каменные поверхности - всегда отличный вариант, чтобы привнести естественный шарм в любое пространство. Об этом хорошо свидетельствуют некоторые из серий Casa Bianca, такие как Storm в цветах Earth и Cream, теплый камень, который демонстрирует тенденцию к росту в ближайшие годы.
          .post__block
            h2.post__title.reveal Фрески
            p.post__text.reveal Современная керамика становится все более привлекательной в качестве замены обоев, предлагая на выбор большой выбор узоров. Настала очередь “декоративных” версий Casa Bianca, таких как Crafter, Terre Warm или Memphis, для тех, кто хочет привнести в свое пространство оригинальный и неповторимый колорит.
        aside.post__sidebar
          .post__mention.reveal Коллекции упомянутые в статье
          .post__cards
            .post__card
              +popular-item(false, true, '/product-bien','/assets/images/post-bien.png', 'post-bien', 'assets/images/collection-bien/logo.svg', 'logo', 'Tiger Black')
            .post__card
              +popular-item(false, true, '/product-majorca','/assets/images/post-majorca.png', 'post-majorca', 'assets/images/collection-majorca/logo.svg', 'logo', 'Cielo')
            .post__card
              +popular-item(false, true, '/product-qua','/assets/images/post-qua.png', 'post-qua', 'assets/images/collection-qua/logo.svg', 'logo', 'Statuario')