section.video 
  .wrapper 
    .video__wrapper
      .video__container 
        .video__play 
          <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_1_315)"><path fill-rule="evenodd" clip-rule="evenodd" d="M47.9984 1.98755C73.3933 1.98755 94.0094 22.6041 94.0094 47.9985C94.0094 73.393 73.3933 94.0095 47.9984 94.0095C22.6039 94.0095 1.98738 73.393 1.98738 47.9985C1.98738 22.6041 22.6039 1.98755 47.9984 1.98755ZM36.9298 24.2216V71.5996L71.7043 47.9981L36.9298 24.2216Z" stroke="white" stroke-width="3.97417" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/></g><defs><clipPath id="clip0_1_315"><rect width="96" height="96" fill="white"/></clipPath></defs></svg>
        .video__poster 
          img(src="/assets/images/video-poster.png", alt="video-poster")
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/x8MGG3lAZ7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      .video__content 
        h2.reveal Открытие шоурума в Стамбуле
        p.reveal Комфортное торговое пространство для частных заказчиков и специалистов. Здесь Вы можете познакомиться со всеми коллекциями нашей фирменной керамогранитной плитки от лучших производителей, проконсультироваться по вопросам выбора продукции, получить рекомендации по укладки и уходу за уложенным покрытием.